body {
  font-family: 'Lato', sans-serif;
  background: #efefef;
}

.main-title span {
  display: inline-block;
  background: #fad948;
  padding-left: 15px;
  padding-top: 18px;
}

.dash-divider {
  border-top: 1px dashed #cdcdcd;
  margin: 40px 0;
}


/* @media only screen and (max-width: 550px) { */
    aside {
      padding: 0 4%;
    }

    aside ul {
      list-style: none;
      padding-left: 0;
    }

    aside .pageSortWrap {
      border-top: 1px solid #cdcdcd;
      border-bottom: 1px solid #cdcdcd;
    }

    aside .pageSort {
      display: inline-block;
      border: none;
      outline: none;
      width: 40px;
      height: 30px;
      margin: 0 5px;
      padding-left: 4px;
    }

    aside .pageSort:focus {
      outline: none;
    }

    .clearWrap {
      text-align: center;
      padding-top: 20px;
    }

    .clearWrap button {
      background: #ababab;
      color: #fff;
      border-radius: 4px;
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 14px;
      cursor: pointer;
    }
/* } */
